@use "preloader";
@use "post";
@use "menu";
@use "render";
@use "form";
@use "./dashboard/dashboard_main";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$black: #110c08;
$white: #0fa098;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	color: $black;
}

body {
	width: 100vw;
	height: 100vh;
	scrollbar-width: thin; /* "auto" or "thin" */
	scrollbar-color: $black $white; /* scroll thumb and track */
	scrollbar-width: 3%;
	#main {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow-x: auto;
		overflow-y: auto;
	}
}

body::-webkit-scrollbar-thumb {
	background-color: $black; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid orange; /* creates padding around scroll thumb */
}
